#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.news {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.news-title-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style-type: none;
}

.news-title-list-item {
  margin-right: 15px;
}

.news-list {
  list-style-type: none;
}

.icon {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.stok-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style-type: none;
}

.stok-list-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-right: 15px;
}

.stok-list-item a {
  margin-right: 5px;
}

.tab-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.tab-list-item {
  list-style-type: none;
  margin-right: 10px;
}

.stok {
  margin-right: 3px;
}

.stok-index {
  color: #CFCFCF;
}

.tabs-container a {
  margin-right: 10px;
}

.widgets {
  display: flex;
  list-style-type: none;
  margin-top: 30px;
}

.widget-list-item-weather {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.widget-list-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 30px;
}

.widget-icon {
  width: 50px;
  height: 50px;
}

.widget-body {
  display: flex;
  flex-direction: row;
}

.widget-content {
  margin-left: 5px;
}